@model WebApplication2.Data.User

@{
    ViewData["Title"] = "User";
}

<h1>User</h1>

<table class="detailsTable">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Login
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Age)
                </td>
            </tr>
    </tbody>
</table>

