@model WebApplication2.Data.User

@{
    ViewData["Title"] = "Edit User";
}

<div class="sidebar">
    <ul>
        <li><a href="/Account/EditEmail">Отредактировать почту</a></li>
        <li><a href="/Account/EditLoginAndAge">Отредактировать логин и возраст</a></li>
        <li><a href="/Account/EditPassword">Отредактировать пароль</a></li>
    </ul>
</div>

<form method="post" asp-controller="Account" asp-action="EditPassword">

    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" value="@WebApplication2.Data.ApplicationContext.authorizedUser.Password" />
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Изменить" />

</form>
